# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database file
*.db

# Environments
.env/
venv/
env/

# IDE/editor files
.vscode/
.idea/
*.swp

# Logs and temporary files
*.log
*.tmp

# Python packaging
dist/
build/
*.egg-info/
